// app global css in SCSS form

/** fonts **/
.dancingScript {
    font-family: 'Dancing Script', cursive;
}

.allura {
    font-family: 'Allura', cursive;
}

.lora {
    font-family: 'Lora', serif;
}

.quattrocento {
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: 400;
}

/** Image sizes **/
.image-size-large-and-small-screen {
    width: 300px;
    height: 300px;
}

.image-size-medium-screen {
    width: 220px;
    height: 220px;
}

.overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.overlay:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.image-container:hover .overlay {
    cursor: pointer;
}

.cursor {
    cursor: pointer;
}

/**Colours*/
.white {
    color: white;
}

.backgroundWhite {
    background-color: white;
}

.black {
    color: black;
}

.teal-custom-colour {
    background-color: #6b7d73;
}

.teal-custom-colour-text {
    color: #417759;
}

.pine {
    background-color: #417759;
}

.grey-text-colour {
    color: #7aa38b;
}

.grey-background {
    background-color: #f0efef;
}

/**Font Size*/
.f-40 {
    font-size: 40px;
}

.f-55 {
    font-size: 55px;
}

.f-30 {
    font-size: 30px;
}

.f-20 {
    font-size: 20px;
}

.background-element {
    position: relative;
    overflow: hidden;
  }
  
  .background-element::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/card-details-background-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.4;
    z-index: -1; /* Place the background behind other content */
  }

.error-overlay {
    background-color: rgba(238, 18, 18, 0.4);
}

.success-overlay {
    background-color: rgba(106, 236, 165, 0.4);
}


/**Carousel*/
.carousel-size {
    width: 800px;
    height: 250px;
}

.carousel-image {
    width: 100%; /* Ensure the image takes up the full width of the slide */
    height: 100%; /* Ensure the image takes up the full height of the slide */
    object-fit: cover; /* Control how the image fits within its container */
}
.container {
    align-items: center; /* Center vertically */
    height: 100%; /* Set the desired height for your container */
}

.q-select .q-field__append {width:fit-content}

/** Class to stick an element on the bottom of a modal */
.stickyElementBottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  @media screen and (max-width: 830px) {
    .stickyElementBottom {
      position: static;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding-right: 12px; /* Adjust padding as needed */
      padding-bottom: 12px; /* Adjust padding as needed */
    }
  }



